Node-Red-UI/flows.json
[{"id":"ec945772.b06c78","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"58eb48f8.74cc68","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"cf5126d7.cbfde8","type":"ui_tab","z":"","name":"data from Etherscan","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"92feaaef.cdf548","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5e68c340.91b44c","type":"ui_tab","z":"","name":"machine info","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"de3d9897.3bd6e8","type":"ui_group","z":"","name":"machine list","tab":"5e68c340.91b44c","order":1,"disp":true,"width":"6","collapse":false},{"id":"58aa4db6.da9824","type":"ui_group","z":"","name":"Infos of selected machine","tab":"5e68c340.91b44c","order":2,"disp":true,"width":"6","collapse":false},{"id":"574799a2.eeda58","type":"mqtt-broker","z":"","name":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c674ec92.20b7a","type":"ui_group","z":"","name":"machine list","tab":"cf5126d7.cbfde8","order":1,"disp":true,"width":8,"collapse":false},{"id":"192e3d10.4a7de3","type":"ui_group","z":"","name":"Etherscan","tab":"cf5126d7.cbfde8","order":3,"disp":true,"width":17,"collapse":false},{"id":"8b4ef4a8.9d4638","type":"ui_spacer","name":"spacer","group":"45de42cd.2ea3fc","order":4,"width":1,"height":1},{"id":"7c592fdc.f705a","type":"ui_spacer","name":"spacer","group":"45de42cd.2ea3fc","order":4,"width":1,"height":1},{"id":"9329d8c8.e9c678","type":"ui_spacer","name":"spacer","group":"45de42cd.2ea3fc","order":4,"width":1,"height":1},{"id":"4b11a608.dcb108","type":"ui_spacer","name":"spacer","group":"c674ec92.20b7a","order":5,"width":8,"height":1},{"id":"1dc4279f.044458","type":"ui_spacer","name":"spacer","group":"c674ec92.20b7a","order":6,"width":8,"height":1},{"id":"aadcb5f8.676148","type":"ui_spacer","name":"spacer","group":"192e3d10.4a7de3","order":2,"width":1,"height":1},{"id":"b6cab403.ee30c8","type":"ui_spacer","name":"spacer","group":"192e3d10.4a7de3","order":4,"width":1,"height":1},{"id":"72a70cdd.ef5ef4","type":"ui_spacer","name":"spacer","group":"192e3d10.4a7de3","order":5,"width":1,"height":1},{"id":"8221388d.17a3b8","type":"ui_spacer","name":"spacer","group":"192e3d10.4a7de3","order":6,"width":1,"height":1},{"id":"97ea86cf.41ab68","type":"ui_spacer","name":"spacer","group":"192e3d10.4a7de3","order":7,"width":17,"height":1},{"id":"364bac47.c9e5d4","type":"ui_spacer","name":"spacer","group":"192e3d10.4a7de3","order":9,"width":1,"height":1},{"id":"cd9088d8.965488","type":"ui_spacer","name":"spacer","group":"192e3d10.4a7de3","order":11,"width":1,"height":1},{"id":"c718b279.c0bdc","type":"ui_spacer","name":"spacer","group":"192e3d10.4a7de3","order":12,"width":1,"height":1},{"id":"9aec8521.2e8958","type":"ui_spacer","name":"spacer","group":"192e3d10.4a7de3","order":13,"width":1,"height":1},{"id":"35eef089.b62f8","type":"ui_dropdown","z":"ec945772.b06c78","name":"","label":"","tooltip":"","place":"Select option","group":"de3d9897.3bd6e8","order":1,"width":"3","height":"1","passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":510,"y":320,"wires":[["4b30fd77.01f894","e93f9fd0.b9857","2d06b322.f830cc"]]},{"id":"c8305203.1ab9a","type":"inject","z":"ec945772.b06c78","name":"","topic":"","payload":"{\"ContractsCount\":5,\"Contracts\":[{\"Machine\":\"roboter\",\"MQTTBrokerIP\":\"123.456.789.1\",\"MQTTBrokerPort\":1234,\"MachineOwner\":\"Company1\"},{\"Machine\":\"Machine2\",\"MQTTBrokerIP\":\"987.654.321.1\",\"MQTTBrokerPort\":2345,\"MachineOwner\":\"Company2\"},{\"Machine\":\"Machine3\",\"MQTTBrokerIP\":\"111.222.333.1\",\"MQTTBrokerPort\":3456,\"MachineOwner\":\"Company3\"},{\"Machine\":\"Machine4\",\"MQTTBrokerIP\":\"111.111.111.1\",\"MQTTBrokerPort\":4567,\"MachineOwner\":\"Company4\"},{\"Machine\":\"Machine5\",\"MQTTBrokerIP\":\"191.282.373.1\",\"MQTTBrokerPort\":5678,\"MachineOwner\":\"Company5\"}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":360,"wires":[["a5c68197.ecd16"]]},{"id":"a5c68197.ecd16","type":"function","z":"ec945772.b06c78","name":"","func":"var x = msg.payload.ContractsCount;\nvar arr = [];\nfor(i=0;i<x;i++){\n    var obj = {};\n    var machine = msg.payload.Contracts[i].Machine.toString();\n    obj[machine]=i.toString();\n    arr.push(obj);\n}\nflow.set('jsonFile', msg.payload)\nmsg.options = arr;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":360,"wires":[["9f23eb84.33fa58","35eef089.b62f8"]]},{"id":"9f23eb84.33fa58","type":"debug","z":"ec945772.b06c78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"options","targetType":"msg","x":530,"y":400,"wires":[]},{"id":"4b30fd77.01f894","type":"debug","z":"ec945772.b06c78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":220,"wires":[]},{"id":"e93f9fd0.b9857","type":"function","z":"ec945772.b06c78","name":"","func":"flow.set('sliderbar',parseInt(msg.payload))\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":320,"wires":[[]]},{"id":"6f19009c.cee6a","type":"function","z":"ec945772.b06c78","name":"MQTTBrokerIP","func":"var sliderbar =  flow.get('sliderbar')||0\nmsg.payload = msg.payload.Contracts[sliderbar].MQTTBrokerIP\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":560,"wires":[["8e373fa6.48c88"]]},{"id":"2d06b322.f830cc","type":"switch","z":"ec945772.b06c78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":720,"y":400,"wires":[[]]},{"id":"e3c3fd36.ea4d7","type":"inject","z":"ec945772.b06c78","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":540,"wires":[["4cd3c151.b7708"]]},{"id":"3bff289f.f50f58","type":"function","z":"ec945772.b06c78","name":"MQTTBrokerPort","func":"var sliderbar =  flow.get('sliderbar')||0\nmsg.payload = msg.payload.Contracts[sliderbar].MQTTBrokerPort\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":620,"wires":[["76243b7.f78f9c4"]]},{"id":"da6e6392.d9738","type":"function","z":"ec945772.b06c78","name":"MachineOwner","func":"var sliderbar =  flow.get('sliderbar')||0\nmsg.payload = msg.payload.Contracts[sliderbar].MachineOwner\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":680,"wires":[["925da81a.f34c68"]]},{"id":"8e373fa6.48c88","type":"ui_text","z":"ec945772.b06c78","group":"58aa4db6.da9824","order":0,"width":0,"height":0,"name":"","label":"MQTTBrokerIP","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":560,"wires":[]},{"id":"76243b7.f78f9c4","type":"ui_text","z":"ec945772.b06c78","group":"58aa4db6.da9824","order":0,"width":0,"height":0,"name":"","label":"MQTTBrokerPort","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":620,"wires":[]},{"id":"925da81a.f34c68","type":"ui_text","z":"ec945772.b06c78","group":"58aa4db6.da9824","order":0,"width":0,"height":0,"name":"","label":"MachineOwner","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":680,"wires":[]},{"id":"ea607791.728ae8","type":"mqtt in","z":"ec945772.b06c78","name":"","topic":"machinelist/1","qos":"0","datatype":"json","broker":"574799a2.eeda58","x":140,"y":140,"wires":[["a5c68197.ecd16","45d02dd3.017b44"]]},{"id":"4cd3c151.b7708","type":"function","z":"ec945772.b06c78","name":"","func":"msg.payload = flow.get('jsonFile')\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":540,"wires":[["6f19009c.cee6a","3bff289f.f50f58","da6e6392.d9738"]]},{"id":"64e944dc.1faa9c","type":"ui_button","z":"58eb48f8.74cc68","name":"","group":"c674ec92.20b7a","order":1,"width":2,"height":2,"passthru":false,"label":"machine 1 ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":105,"y":48,"wires":[["353a6c10.1b9354"]]},{"id":"51da071.4f7fff8","type":"ui_button","z":"58eb48f8.74cc68","name":"","group":"c674ec92.20b7a","order":2,"width":2,"height":2,"passthru":false,"label":"machine 2 ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"str","topic":"","x":104,"y":88,"wires":[["353a6c10.1b9354"]]},{"id":"c30af346.39433","type":"ui_button","z":"58eb48f8.74cc68","name":"","group":"c674ec92.20b7a","order":3,"width":2,"height":2,"passthru":false,"label":"machine 3 ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"str","topic":"","x":105,"y":128,"wires":[["353a6c10.1b9354"]]},{"id":"cb6d041b.28fb18","type":"ui_button","z":"58eb48f8.74cc68","name":"","group":"c674ec92.20b7a","order":4,"width":2,"height":2,"passthru":false,"label":"machine 4","tooltip":"","color":"","bgcolor":"","icon":"","payload":"4","payloadType":"str","topic":"","x":105,"y":168,"wires":[["353a6c10.1b9354"]]},{"id":"a3075757.1e40b8","type":"ui_chart","z":"58eb48f8.74cc68","name":"","group":"192e3d10.4a7de3","order":1,"width":8,"height":4,"label":"machine 1 ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"50","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":380,"wires":[[]]},{"id":"837889d6.a26478","type":"function","z":"58eb48f8.74cc68","name":"","func":"\nreturn {payload: parseInt(msg.payload.result, 16)};","outputs":1,"noerr":0,"x":650,"y":380,"wires":[["a3075757.1e40b8"]]},{"id":"4ec8f2de.1faf8c","type":"inject","z":"58eb48f8.74cc68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":440,"wires":[["14feb178.d835bf","d18fa70b.d1d268","7c5ae164.599e6","70dfca74.0de774","52451c2f.eeec54","54939eec.be203"]]},{"id":"7c5ae164.599e6","type":"http request","z":"58eb48f8.74cc68","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://api-ropsten.etherscan.io/api?module=proxy&action=eth_call&to=0xeFA1DB1275480c1aaf6f8FBF36Ed277822518834&data=0x732faf8d0000000000000000000000000000000000000000000000000000000000000001&apikey=J2CQ6WY8SG78VBGDJCT6UBKRM2CM7B4TS2","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":380,"wires":[["837889d6.a26478","e53285f.22bcd78"]]},{"id":"353a6c10.1b9354","type":"function","z":"58eb48f8.74cc68","name":"set flow.machine","func":"var value = msg.payload||0;\nflow.set('machine',value);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":102,"wires":[[]]},{"id":"70dfca74.0de774","type":"http request","z":"58eb48f8.74cc68","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://api-ropsten.etherscan.io/api?module=proxy&action=eth_call&to=0xb52269a32C8Bc40309Fb86845D8Be1dA313a14a1&data=0x732faf8d0000000000000000000000000000000000000000000000000000000000000001&apikey=J2CQ6WY8SG78VBGDJCT6UBKRM2CM7B4TS2","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":420,"wires":[["4ac4b21b.342d3c"]]},{"id":"52451c2f.eeec54","type":"http request","z":"58eb48f8.74cc68","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":480,"wires":[["c14165ae.4cca48"]]},{"id":"54939eec.be203","type":"http request","z":"58eb48f8.74cc68","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":520,"wires":[["245399c0.f11b46"]]},{"id":"3a599c79.e3e1e4","type":"inject","z":"58eb48f8.74cc68","name":"","topic":"","payload":"machine","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":127,"y":228,"wires":[["90e2fdfc.c0ad"]]},{"id":"90e2fdfc.c0ad","type":"debug","z":"58eb48f8.74cc68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":347,"y":228,"wires":[]},{"id":"b9186885.c50088","type":"ui_chart","z":"58eb48f8.74cc68","name":"","group":"192e3d10.4a7de3","order":3,"width":8,"height":4,"label":"machine 2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"50","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":420,"wires":[[]]},{"id":"4ac4b21b.342d3c","type":"function","z":"58eb48f8.74cc68","name":"","func":"\nreturn {payload: parseInt(msg.payload.result, 16)};","outputs":1,"noerr":0,"x":650,"y":420,"wires":[["b9186885.c50088"]]},{"id":"5c82d95f.607198","type":"ui_chart","z":"58eb48f8.74cc68","name":"","group":"192e3d10.4a7de3","order":8,"width":8,"height":4,"label":"machine 3","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"50","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":480,"wires":[[]]},{"id":"c14165ae.4cca48","type":"function","z":"58eb48f8.74cc68","name":"","func":"\nreturn {payload: parseInt(msg.payload.result, 16)};","outputs":1,"noerr":0,"x":650,"y":480,"wires":[["5c82d95f.607198"]]},{"id":"5182932.b29df6c","type":"ui_chart","z":"58eb48f8.74cc68","name":"","group":"192e3d10.4a7de3","order":10,"width":8,"height":4,"label":"machine 4","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"50","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":520,"wires":[[]]},{"id":"245399c0.f11b46","type":"function","z":"58eb48f8.74cc68","name":"","func":"\nreturn {payload: parseInt(msg.payload.result, 16)};","outputs":1,"noerr":0,"x":650,"y":520,"wires":[["5182932.b29df6c"]]},{"id":"e53285f.22bcd78","type":"debug","z":"58eb48f8.74cc68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":180,"wires":[]},{"id":"e5d8d99f.cb2128","type":"ui_text","z":"58eb48f8.74cc68","group":"c674ec92.20b7a","order":7,"width":8,"height":1,"name":"","label":"leatest Block Number:","format":"{{msg.payload}}","layout":"row-center","x":760,"y":600,"wires":[]},{"id":"4ad0a543.6b724c","type":"function","z":"58eb48f8.74cc68","name":"","func":"var blockNumber = parseInt(msg.payload.result, 16)\nflow.set('blockNumber',msg.payload.result)\nreturn {payload: blockNumber};","outputs":1,"noerr":0,"x":510,"y":600,"wires":[["e5d8d99f.cb2128","478f2322.0aae3c"]]},{"id":"14feb178.d835bf","type":"http request","z":"58eb48f8.74cc68","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://api-ropsten.etherscan.io/api?module=proxy&action=eth_blockNumber&apikey=J2CQ6WY8SG78VBGDJCT6UBKRM2CM7B4TS2","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":600,"wires":[["4ad0a543.6b724c"]]},{"id":"94219f94.8b27c","type":"function","z":"58eb48f8.74cc68","name":"","func":"var blockNumber = flow.get('blockNumber')\n\nmsg.url = 'https://api-ropsten.etherscan.io/api?module=proxy&action=eth_getBlockByNumber&tag='+blockNumber+'&boolean=true&apikey=J2CQ6WY8SG78VBGDJCT6UBKRM2CM7B4TS2'\nreturn msg;","outputs":1,"noerr":0,"x":408,"y":720,"wires":[["4307c988.6e4688","f42b29f0.5c8cb8"]]},{"id":"4307c988.6e4688","type":"http request","z":"58eb48f8.74cc68","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":578,"y":720,"wires":[["ee5049d5.c2f1f8","9d6ec571.f74408","841cff92.775a7"]]},{"id":"478f2322.0aae3c","type":"debug","z":"58eb48f8.74cc68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":640,"wires":[]},{"id":"ee5049d5.c2f1f8","type":"debug","z":"58eb48f8.74cc68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":820,"wires":[]},{"id":"f42b29f0.5c8cb8","type":"debug","z":"58eb48f8.74cc68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","x":400,"y":820,"wires":[]},{"id":"d18fa70b.d1d268","type":"delay","z":"58eb48f8.74cc68","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":248,"y":720,"wires":[["94219f94.8b27c"]]},{"id":"9d6ec571.f74408","type":"ui_text","z":"58eb48f8.74cc68","group":"c674ec92.20b7a","order":8,"width":8,"height":1,"name":"","label":"miner:","format":"{{payload.result.miner}}","layout":"row-center","x":820,"y":720,"wires":[]},{"id":"841cff92.775a7","type":"ui_text","z":"58eb48f8.74cc68","group":"c674ec92.20b7a","order":9,"width":8,"height":1,"name":"","label":"first transaction:","format":"{{payload.result.transactions[1].hash}}","layout":"col-center","x":851,"y":800,"wires":[]},{"id":"ba135547.08b318","type":"switch","z":"58eb48f8.74cc68","name":"","property":"machine","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":330,"y":340,"wires":[[],[],[],[]]},{"id":"45d02dd3.017b44","type":"debug","z":"ec945772.b06c78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":140,"wires":[]}]